<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<conference name="wwww2012">
				<logoUri>http://data.semanticweb.org/images/logo_www2012.jpg</logoUri>
				<confUri>http://data.semanticweb.org/www/2012</confUri>
	</conference>

	<datasources>
		<datasource id="conferenceDatasource">
			 <serviceUri>http://data.semanticweb.org/sparql</serviceUri> 
			 <type>SparqlEndPoint</type>
			 <method>GET</method>
			 <dataType>XML</dataType>
			 <xDomainMode>cors</xDomainMode>
		</datasource>
		
		<datasource id="publicationDatasource">
			<serviceUri>http://dblp.l3s.de/d2r/sparql</serviceUri>
			<type>SparqlEndPoint</type>
			<method>GET</method>
			<dataType>JSONP</dataType>
			<xDomainMode>JSONP</xDomainMode>
		</datasource>
		
		<datasource id="webDatasource">
			<serviceUri>http://api.duckduckgo.com/</serviceUri>
			<type>RestEndPoint</type>
			<method>GET</method>
			<dataType>JSONP</dataType>
			<xDomainMode>JSONP</xDomainMode>
		</datasource>
		
		<datasource id="eventDatasource">
			<serviceUri>http://calendar.labs.idci.fr/api/schedule_event.jsonp?</serviceUri>
			<type>RestEndPoint</type>
			<method>GET</method>
			<dataType>JSONP</dataType>
			<xDomainMode>JSONP</xDomainMode>
		</datasource>	
	</datasources>
	
	
	<routes>
		<route hash="/Home" action="home"  view="HomeView">
			<command name="getEvent" datasource="eventDatasource"></command>		
		</route>
		<route hash="/Person" action="person"  view="PersonView">
			<command  datasource="publicationDatasource" name="getPublications"></command>	
			<command  datasource="conferenceDatasource" name="getPublications"></command>	
			<command  datasource="webDatasource" name="getHomePage"></command>			
		</route>
		<route hash="/Publication" action="Publication"  view="PublicationView">
			<command  datasource="conferenceDatasource" name="getOrganization"></command>	
			<command  datasource="eventDatasource" name="getEventRelated"></command>		
		</route>
		<route hash="/Event" action="Event"  view="EventView">
			<command  datasource="eventDatasource" name="getSubEvent"></command>
			<command  datasource="eventDatasource" name="getRelatedDocument"></command>			
		</route>
		<route hash="/Organization" action="organization"  view="OrganizationView">
			<command  datasource="conferenceDatasource" name="getOrganization"></command>	
		</route>
	</actions>

</configuration>